@import "kouto-swiss"

meyer-reset()
box-sizing-reset()
normalize()

#to-do-list-app
  background #eee
  width 300px
  padding 20px 0
  margin 20px auto
  border-left 5px dashed orange
  border-right 5px dashed orange

  h1
    margin 0 20px 20px 20px
    padding-bottom 20px
    text-align center
    border-bottom 5px dashed orange

  .create-todo
    margin 0 20px

    input
      width 100%
      padding 10px
      background #fff
      border 0
      box-shadow 2px 2px 1px #666

  .todo-list
    .todo-item
      padding 20px

      &:nth-child(even)
        background #bbb

      .check
        float left

      .remove
        background red
        float right
        border 0
        color #fff
        font-weight bold
        line-height 1em

      .description
        margin 0 10px

        &.done
          text-decoration line-through
          color #999

