@import "kouto-swiss"

meyer-reset()
box-sizing-reset()
normalize()

#to-do-list-app
  background #eee
  width 300px
  padding 20px 0
  margin 20px auto
  border-left 5px dashed orange
  border-right 5px dashed orange

  @import "includes/title"
  @import "includes/create"
  @import "includes/item"
  @import "includes/footer"

