.todo-item
  padding 20px

  &:nth-child(even)
    background #bbb

  .check
    float left

  .remove
    background red
    float right
    border 0
    color #fff
    font-weight bold
    line-height 1em

  .description
    margin 0 10px

    &.done
      text-decoration line-through
      color #999

