doctype html
html(lang="en")
  head
    title To-do List | Backbone.js &and; Muscle.js
    link(href="/stylesheets/app.css", rel="stylesheet", type="text/css", media="all")
    script(src="/scripts/app.js", type="text/javascript")
  body
    block content
